@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Noto Serif JP", serif;
    line-height: 1;
    color: #333;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    vertical-align: bottom;
}

/* ここまで reset.css */

/*-----------------------------------------
    burger setting
------------------------------------------*/
.burger{
    display: none;
    /* 他の要素はスマホ側で表示設定できるが、burgerの文字だけはPC側で見えしまう。これを非表示にする */
}


/*-----------------------------------------
    html - ページ内リンクのアニメーション    
-----------------------------------------*/

html{
    scroll-behavior: smooth;
    /* sb -> smooth */
}

/*-----------------------------------------
    header - setting   
-----------------------------------------*/

header{
    height: 100vh;
    background-image: url(../img/main_image.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    /* header内のヒーローヘッダーを背景画像で設定 */

    display: grid;
    place-items: center;
    /* header内の要素を、タテ・ヨコ中央配置にgrid設定 */
}



header .header_inner{
    width: 80%;
    height: 80%;
    padding: 20px;
    /* header内の子要素の幅・高さ等の設定 */
    writing-mode: vertical-rl;
    /* header_innerの子要素、h1とpタグに縦書きの設定 */

}

header .header_inner h1{
    color: #eee;
    font-size: 70px;
    /* タテ書き設定 */
    padding:0 30px;
    line-height: 1.2;
    /* ウインドウの可変で改行されたときの行間 */
    font-family: "Kaisei HarunoUmi", serif;
    font-weight: 900;
    background-color: rgba(34, 34, 34, 0.3);
}

header .header_inner p{
    color: #fff;
    font-weight: 300;
    line-height: 1.5;
    /* writing-mode: vertical-rl;   */
    letter-spacing: 0.1em;
    padding-top: 100px;
    text-align: left;
    padding-left: 20px;
    background-color: rgba(34, 34, 34, 0.3);
    /* 適宜 */
}

header nav{
    position: fixed;
    top: 5%;
    left: 5%;
    background-color: rgba(34, 34, 34, 0.5);
    z-index: 1;
}

header nav ul{
    writing-mode: vertical-rl;
}

/* header nav ul li{
} */

header nav ul li a{
    display: block;
    padding: 20px 10px;
    color: #fff;
    letter-spacing: 0.3em;
    font-family: "Kaisei HarunoUmi", serif;
}

/*----------------------------------------- 
main 設定
-----------------------------------------*/ 
main{
    background-color: #020202e7;
}

main>section{
    padding: 30px 0 90px;
}



/*----------------------------------------- 
大枠（mainのクラスcontainer）設定
-----------------------------------------*/ 

.container{
    max-width: 1024px;
    /* 最大値、1024px それ以下可変　max-width使用 */
    margin: 0 auto;
    /* ブロック要素の中央揃い　m0ｰa */
    padding: 60px 15px 100px;
    /* 各sectionに、上60x 左右15px 下100px程度に設定 */
}

/*-----------------------------------------
    containerクラスarch設定
-----------------------------------------*/
.container ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 80px 60px;
    padding: 20px; 
}

.container ul li{
    aspect-ratio: 3/7;
    clip-path: polygon(0 5%,100% 0,100% 95%,0 100%);
}

.container ul li img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    opacity: 0.5;
}

.container ul li img:hover{
    opacity: 1;
}

.container ul li.vertical{
    background-image: linear-gradient(rgba(255, 255, 255),rgba(255, 255, 255, 0.1));  
    line-height: 2;  
    padding-top: 30%;
    writing-mode: vertical-rl;
    font-weight: bold;
    display: flex;
    align-items: center;
    font-size: 14px;
    letter-spacing: 0.1em;

    /* 黒にかかる文字にテキストシャドウの白設定 */
    color: #111;
    text-shadow: 0 0 8px #fff;
}

.container ul li.vertical h2{
        font-size: 28px;
}


footer{
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

footer p{
    width: 1000px;
    font-size: 20px;
    color: #fff;
    text-align: center;
}


/*-----------------------------------------
    fontawesome - setting （トップに戻るボタン）
-----------------------------------------*/
.page_top{
    position: fixed;
    right: 5%;
    bottom: 5%;
    width: 55px;
    height: 50px;
    background-color: #333;
    border: 1px solid #eee;
    /* 最初は表示しないようにして、スクロールがある距離達したならjQueryで表示させる */
    display: none;
}

.page_top a{
    display: block;
    text-align: center;
    line-height: 48px;
    /* 微調整 */
    font-size: 30px;
    color: #fff;
}


@media (max-width:768px){

/*-----------------------------------------
    .burger - responsive setting   
-----------------------------------------*/

    .burger{
        display: block;
        /* burgerの文字だけはPC側で見えしまうため非表示にしていたのを表示OKにする -> db */         
        position: fixed;
        width: 60px;
        height: 50px;
        top: 25px;
        right: 10px;
        z-index: 100;
    }
    .burger span{
        position: absolute;
        width: 80%;
        height: 4px;
        background-color: #fff;
        border-radius: 10px;
        inset: 0;
        margin: auto;
        transition: 0.2s;
    }

    .burger span:nth-of-type(1){
        top: -35%;
    }
    .burger span:nth-of-type(3){
        top: 35%;
        transition-delay: 0.1s;
    }
    .burger span:nth-of-type(4) {
        height: 0;
        text-align: center;
        top: 45%;
        color: #fff;
        font-size: 12px;
        font-weight: bold;
        transition-delay: .2s;

    }    

    .burger.active span:nth-of-type(1){
        top: 0;
    }

    .burger.active span:nth-of-type(3){
        top: 0;
    }
    .burger.active  span:nth-of-type(4) {
        top: 10%;
    }   
    /* 基本的にはバーガーボタンの文字の配置は何回か調整しながらの力技です */
        

/*-----------------------------------------
    header - responsive setting   
-----------------------------------------*/


    header .header_inner h1{
        font-size: 50px;
    }

/*-----------------------------------------
    nav  - responsive - setting   
-----------------------------------------*/
    header nav{
        top:0 ;
        left: 100%;
        width: 100%;
        height: 100%;
        padding-top: 100px;
        background-color: rgba(34, 34, 34, 0.8);        
        transition: 0.4s 0.2s;
        z-index: 90;

        /* プラグインbxSliderもposition設定なので、先にpositionしているnavのz-indexの数値をあげる */
    }
    
    header nav.drawer{
        left: 0;
    }
    
    header nav ul{
        position: relative;
        writing-mode: initial;
        /* 文字のタテ書きを無効 */
    }

    header nav ul li{
        position: absolute;
        width: 100%;
        top: 0;
        left: 100%;
        transition: 0.4s cubic-bezier(.24,.3,.29,1.3);
    }
    header nav.drawer ul li{
        left: 0;
    }
    header nav ul li:nth-of-type(1){
        transition-delay: 0.06s;
        top: 0;
    }
    header nav ul li:nth-of-type(2){
        transition-delay: 0.12s;
        top: 60px;
    }
    header nav ul li:nth-of-type(3){
        transition-delay: 0.18s;
        top: 120px;
    }
    header nav ul li:nth-of-type(4){
        transition-delay: 0.24s;
        top: 180px;
    }
    header nav ul li:nth-of-type(5){
        transition-delay: 0.3s;
        top: 240px;
    }

    header nav ul li a{  
    padding: 20px 0;
    text-align: center;
    /* 文字の中央揃い、paddin上下を広く設定 */
} 
    

/*-----------------------------------------
    .container - responsive setting   
-----------------------------------------*/    

    .container  ul{
        grid-template-columns: repeat(2,1fr);
        gap: 40px 20px;
    }

    .container ul li img{
        opacity: 0.9    ;
    }
}/* media end */